:root {
  --grey-opacity: 0.6;
  --note-opacity: 0.4;
  --headline-grey: #43423e;
  --baseline-grey: #74736c;
}

.chart-title {
	font-size: 20px;
	fill: var(--headline-grey);
}

.chart-subtitle {
	font-size: 15px;
	fill: var(--baseline-grey);
}

.chart-source {
	font-size: 10px;
	fill-opacity: 0.4
}